@charset "UTF-8";
body {
            background-color: cadetblue;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
        }
        h1 {
            color: floralwhite;
            background-color: black;
        }
        h2 {
            color: brown;
        }
        p {
            text-align: justify;
        }
