@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right,#B2C3FA,#9F5FFA );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #182027 ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: chocolate;
    text-align: center;
    text-shadow: 1px 1px 2px #0a2a45;
}

h2 {
    color: blue;
}

p {
    text-align: justify;
}